.wishitem-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 50%));
    grid-gap: 20px;
    width: 90vw;
}

.wishitem-card {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    border: 3px solid white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: rgba(242, 168, 89, 0.41);
    background-clip: padding-box, border-box;
    box-shadow: inset 0 0 0 3px white;
    transition: box-shadow 0.3s ease-in-out, padding 0.3s ease-in-out;
    box-sizing: border-box;
}

.wishitem-card__image {
    box-sizing: border-box;
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 7px;
    transition: transform 0.3s ease-in-out;
}

.wishitem-card:hover {
    box-shadow: inset 0 0 0 6px white;
    padding: 10px;
}

.wishitem-card:hover .wishitem-card__image {
    transform: scale(0.92);
}

.wishitem__delete-button:hover {
    transform: scale(0.8);
}

.wishitem-card__title {
    max-width: 40ch;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin-left: 20px;
    color: white;
}

.wishitem__delete-button {
    position: absolute;
    top: 0.9vw;
    right: 0.7vw;
    padding: 0;
    width: 2.5vw;
    height: 2.5vw;
    background: transparent;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: transform 0.2s;
    transform-origin: center;
    z-index: 10;
}

#wishitem__delete-button-icon {
    width: 100%;
    height: 100%;
}

button {
    transform-origin: 50% 5em;
}

@media (max-width: 1300px) {
    .wishitem-card__title {
        margin-left: 15px;
        font-size: 17px;
    }
    /* .wishitem__delete-button {
        top: 3.5%;
        right: 2.5%;
    } */
    
}

@media (max-width: 950px) {
    .wishitem-card__title {
        margin-left: 10px;
        font-size: 14px;
    }
    .wishitem-container {
        grid-gap: 12px;
    }
    .wishitem-card {
        border: 2px solid white;
        padding: 8px;
        box-shadow: inset 0 0 0 2px white;
    }
    .wishitem-card:hover {
        box-shadow: inset 0 0 0 4px white;
        padding: 8px;
    }
}

@media (max-width: 700px) {
    .wishitem-card__title {
        margin-left: 10px;
        font-size: 9px;
    }
    .wishitem-container {
        grid-gap: 9px;
    }
    .wishitem-card {
        border: 1px solid white;
        padding: 8px;
        box-shadow: inset 0 0 0 1px white;
    }
    .wishitem-card:hover {
        box-shadow: inset 0 0 0 2px white;
        padding: 8px;
    }
}
