.wishlist-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 6px solid white;
    width: 25vw;
    max-width: 315px;
    padding: 0;
    
    cursor: pointer;
    position: relative;
    z-index: 1;
    background: radial-gradient(circle, #f1f1f1 0%, var(--basic-orange) 80%);
}

.wishlist-item:hover {
    cursor: pointer;
    color: white;
}

.wishlist-item:before {
    transition: 0.42s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    border-radius: 10px;
    background: radial-gradient(ellipse at top, var(--basic-orange), transparent),
            radial-gradient(ellipse at bottom, #f1f1f1, transparent);
}

.wishlist-item:hover:before {
    transition: 0.42s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.wishlist-item__title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9vh;
    color: white;
    font-family: 'Regular';
    font-size: 35px;
    letter-spacing: 4px;
    width: 100%;
    margin: 0;
    border-bottom: 6px solid white;
}

.wishlist-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4vw;
}

.wishlist-item__privacy-icon {
    height: 170px;
    margin: 30px 0;
}

.wishlist-item .wishlist-item__info {
    position: absolute;
    top: 93px;
    right: 7px;
    font-size: 1.2em;
    cursor: pointer;
}

.wishlist-item .tooltip {
    position: absolute;
    top: 58%;
    right: 1px;
}

.wishlist-item .tooltip .wishlist-item__info {
    cursor: pointer;
}

.tooltip {
    width: 100%;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 80%;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 0.9em;
    font-family: 'Regular';
    position: absolute;
    z-index: 1;
    right: 10%;
    top: 136px;

    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 1300px) {
    .wishlist-item__title {
        font-size: 27px;
    }
    .tooltip .tooltiptext {
        font-size: 10px;
    }
}

@media (max-width: 950px) {
    .wishlist-item__title {
        font-size: 19px;
        height: 6vh;
        letter-spacing: 3px;
    }
    .wishlist-item .tooltip {
        top: 64px;
        right: -2px;
    }
    .wishlist-item__privacy-icon {
        height: 65%;
        margin: 20px 0;
    }
    .tooltip .tooltiptext {
        font-size: 7px;
    }
}

@media (max-width: 700px) {
    .wishlist-container {
        flex-direction: column;
    }
    .wishlist-item {
        width: 35vw;
    }
    .wishlist-item__title {
        font-size: 16px;
        height: 6vh;
        letter-spacing: 2px;
    }
    .wishlist-item .tooltip {
        top: 67px;
        right: -3px;
    }
    .wishlist-item__info {
        height: 17px;
        width: 17px;
    }
}

@media (max-width: 500px) {
    .wishlist-item {
        width: 45vw;
    }
    .wishlist-item__title {
        font-size: 16px;
    }
}

@media (max-width: 350px) {
    .wishlist-item__title {
        font-size: 13px;
    }
}