<footer>
    <div class="credentials">
        <p class="credentials__authors background__zone">
            Full-stack dev: Fyodor Urlapov<br>
            Designer: Alex Plaxin
        </p>
        {{!-- <img class="footer__logo" src="/media/1xbet.png" alt="1xbet"> --}}
        <p class="credentials__contacts background__zone">
            Legal address: 624130, Novouralsk, Sverdlovsk region, Russia<br>
        </p>
    </div>
    
    {{!-- <p id="load-time">Footer will be here</p> --}}
</footer>