<footer>
    <div class="footer__credentials-flexbox">
        <p>
            Wisher
        </p>
        <img id="footer__copyright-icon" src="/objects/copyright-icon.png" alt="C"/>
        <p>
            2024
        </p>
    </div>
    <p>
        Novouralsk, Sverdlovsk region, Russia
    </p>
    <div class="footer__credentials-flexbox">
        <p>
            Full-stack dev: Fyodor Urlapov
        </p>
        <a class="footer__credentials-icon-link" href="https://t.me/fedorucho" target="_blank">
            <img class="footer__credentials-icon" src="/objects/tg-icon.svg" alt="tg"/>
        </a>
        <a class="footer__credentials-icon-link" href="https://github.com/thepriceless" target="_blank">
            <img class="footer__credentials-icon" src="/objects/github-icon.svg" alt="gh"/>
        </a>
    </div>
    <p>
        Design: Alex Plaxin 
    </p>
</footer>