<footer>
    <div class="credentials">
        <p class="background__zone">
            Full-stack dev: Fyodor Urlapov<br>
            Designer: Alex Plaxin
        </p>
        <p class="background__zone">
            Legal address: 624130, Novouralsk, Sverdlovsk region, Russia<br>
        </p>
    </div>
</footer>