<header>
    <nav class="nav-bar">
        <a class="nav-bar__box" id="my-wishlist" href="/my-wishlist">
        <p class="nav-bar__text">
            My wishlist
        </p>
        </a>
        <a class="nav-bar__box" id="friends" href="/friends">
        <p class="nav-bar__text">
            Friends
        </p>
        </a>
        <a class="nav-bar__box" id="wisher" href="/">
        <p class="nav-bar__text">
            Wisher
        </p>
        </a>