<header>
    <nav class="nav-bar">
        <div class="nav-bar__box">
            <a class="nav-bar__padding-text" id="mywishlists" href="/wishlists">
                <p class="nav-bar__text">
                    My wishlists
                </p>
            </a>
            <div class="nav-bar__vertical-divider"></div>
            <img class="add-item-to-wishlist" src="objects/icons8-plus.svg" alt="next"/>
        </div>
        <a class="nav-bar__box nav-bar__padding-box" href="/friends">
        <p class="nav-bar__text">
            Friends
        </p>
        </a>
        <a class="nav-bar__box nav-bar__padding-box" href="/">
        <p class="nav-bar__text">
            Wisher
        </p>
        </a>