.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2.5vw;
    width: 80vw;
    height: 47px;
}

.nav-bar__text {
    padding: 0;
    margin: 0 15px;
    font-family: 'Bold';
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}

.nav-bar__profile-photo {
    height: 100%;
    border-radius: inherit;
}

.nav-bar__box {
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
    background: rgba(150, 155, 159, 0.35);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    text-decoration: none;
}

.nav-bar__hoverable {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar__hoverable-left {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

.nav-bar__hoverable-right {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.nav-bar__hoverable-full {
    border-radius: 24px;
}

#page-id__logout:hover,
.nav-bar__hoverable:hover {
    cursor: pointer;
    color: white;
}

.nav-bar__hoverable:before {
    transition: 0.42s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: var(--light-orange);
}

.nav-bar__hoverable-left:before {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

.nav-bar__hoverable-right:before {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.nav-bar__hoverable-full:before {
    border-radius: 24px;
}

#page-id__logout:hover:before,
.nav-bar__hoverable:hover:before {
    transition: 0.42s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.nav-bar__special-icon-container {
    background: transparent;
    border-width: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 3vw;
}

.nav-bar__box.active,
.nav-bar__hoverable.active {
    background-color: var(--basic-orange);
}

.nav-bar__special-icon {
    width: 75%;
}

#nav-bar__logout-button {
    background: transparent;
    border-width: 0;
    text-decoration: none;
    cursor: pointer;
}

#page-id__logout:before {
    transition: 0.42s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    border-radius: 24px;
    background-color: red;
}

#page-id__wishlists {
    border-right: 3px solid #fff;
    text-decoration: none;
}

#search-button {
    padding-inline: 0;
    padding-block: 0;
}

#search-users {
    box-sizing: border-box;
    width: 13vw;
    height: auto;
    padding-block: 8px;
    padding-inline-start: 7px;
    background-color: transparent;
    font-family: 'Regular';
    font-size: 20px;
    text-overflow: ellipsis;
    caret-color: white;
    color: white;
    border: none;
    border-right: 3px solid #fff;
}

#search-users:focus {
    outline: none;
}

#link-to-user-profile-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1300px) {
    #search-users,
    .nav-bar__text {
        font-size: 15px;
    }

    .nav-bar__text {
        margin-left: 10px;
        margin-right: 10px;
    }

    .nav-bar {
        height: 40px;
    }
}

@media (max-width: 950px) {
    #search-users,
    .nav-bar__text {
        font-size: 11px;
    }

    .nav-bar__text {
        margin-left: 5px;
        margin-right: 5px;
    }

    .nav-bar {
        height: 35px;
    }
}

@media (max-width: 700px) {
    #search-users,
    .nav-bar__text {
        font-size: 6px;
    }

    .nav-bar__text {
        margin-left: 3px;
        margin-right: 3px;
    }

    .nav-bar {
        height: 28px;
    }
}