.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 60px;
}

.nav-bar__text {
    margin: 0px;
    padding: 0;
    font-family: 'Bold';
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}

.nav-bar__profile-photo {
    height: 42px;
    width: 42px;
    margin-left: auto;
    border: solid white 3px;
    border-radius: 50%;
}

.nav-bar__box {
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    background: rgba(150, 155, 159, 0.35);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    cursor: pointer;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

.nav-bar__padding-box {
    padding: 6px 20px;
}

.nav-bar__padding-text {
    padding: 6px 10px;
    text-decoration: none;
    color: white;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.nav-bar__vertical-divider {
    border-left: 3px solid white;
    height: 44px;
}

.nav-bar__box:hover {
    cursor: pointer;
    color: white;
}

.nav-bar__box:before {
    transition: 0.42s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    border-radius: 24px;
    background-color: #f2a859;
}

.nav-bar__box:hover:before {
    transition: 0.42s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.nav-bar__special-icon-container {
    height: 25px;
    margin: 6px;
    background: transparent;
    border-width: 0;
    cursor: pointer;
}

.nav-bar__box.active {
    background-color: #ed8f2c;
}

.nav-bar__special-icon {
    height: 100%;
}

#nav-bar__logout-button {
    background: transparent;
    border-width: 0;
    text-decoration: none;
    cursor: pointer;
}

#page-id__logout:hover {
    cursor: pointer;
    color: white;
}

#page-id__logout:before {
    transition: 0.42s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    border-radius: 24px;
    background-color: red;
}

#page-id__logout:hover:before {
    transition: 0.42s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

#mywishlists {
    padding-right: 7px;
}

#search-users {
    box-sizing: border-box;
    width: 220px;
    padding-block: 0;
    padding-inline-start: 7px;
    border-width: 0;
    background-color: transparent;
    font-family: 'Regular';
    font-size: 20px;
    text-overflow: ellipsis;
    caret-color: white;
    color: white;
}

#search-users:focus {
    outline: none;
}

#search-button {
    padding: 0;
}

#link-to-user-profile-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 500px) {
    .nav-bar__box {
        width: 70vw;
    }

    .nav-bar {
        flex-direction: column;
        gap: 15px;
    }
}

@media (max-width: 800px) {
    .nav-bar__text {
        font-size: 16px;
    }

    .nav-bar {
        justify-content: space-evenly;
        gap: 20px;
    }
}

@media (max-width: 850px) {
    .nav-bar__profile-photo {
        display: none;
    }
}