<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="wishlist, present, party, wish">
    <meta name="description" content="Your wishlist">
    <link href="/css/stylesheet.css" rel="stylesheet">
    <link href="/css/logo/logo.css" rel="stylesheet">
    <link href="/css/nav-bar/nav-bar.css" rel="stylesheet">
    <link href="/css/log-out/log-out.css" rel="stylesheet">
    <link href="/css/selection-bar/selection-bar.css" rel="stylesheet">
    <link href="/css/wishes-zone/wishes-zone.css" rel="stylesheet">
    <link href="/css/friends/friends-list.css" rel="stylesheet">
    <link href="/css/credentials/credentials.css" rel="stylesheet">
    <script src="/js/highlight-current-menu-item.js"></script>
    <script src="/js/fetch-page.js"></script>
    <script src="/js/friends-page.js"></script>
    <script src="/js/login-redirections.js"></script>
    <title>Friends</title>
</head>
<body>
    <div class="body__main">
        {{> navbarLoggedSure}}
        <main>
            <div class="friends-zone">
                <h1 class="friends-list__title">Friends</h1>
                <div class="friends-list">
                    {{!-- <img class="preloader" src="media/XHXn.gif"> --}}
                    {{#each friends}}
                    <div class="friend-item">
                        <div class="friend-card">
                            <button class="friend-button" onclick="showProfileWithNickname({{this.nickname}})">
                                <h2 class="friend-nickname">{{this.nickname}}</h2>
                            </button>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </main>
        {{> footerAd}}
    </div>
</body>
</html>