<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> linkCommonCss}}
    <link href="/css/forms/login-form.css" rel="stylesheet">
    <link href="/css/forms/login-page.css" rel="stylesheet">
    <script src="/js/login-page.js"></script>
    <script src="/js/jwt-expiration-calculation.js"></script>
    {{> linkCommonJs}}
    {{> websocketStatic}}
    <title>Sign in</title>
</head>
<body>
    {{> yandexMetrikaNoscript}}
    <main class="body__main">
        <div class="wrapper-for-loader-height">
            <div class="loader-zone">
                <span class="upload-loader"></span>
            </div>
            <div class="form-wrap">
                <form onsubmit="login(event)" class="form-items">
                    <input class="form-input" type="text" id="nickname" name="nickname" placeholder=" Nickname" maxlength="25" required>
                    <input class="form-input" type="password" id="password" name="password" placeholder=" Password" maxlength="25" required>
                    <input class="submit-form-button" type="submit" value="Sign in">
                    <p id="dont-have-an-account">Don't have an account?<br>
                        <a href="/auth/register">Register here</a>
                    </p>
                </form>
            </div>
        </div>
    </main>
    {{> footerAd}}
</body>
</html>