<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0; url=/wisher">
    <script>
        window.location.href = "/wisher";
    </script>
</head>
<body>
    Redirecting to /wisher...
</body>
</html>