<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="wishlist, present, party, wish">
    <meta name="description" content="Login page">
    <link href="/css/stylesheet.css" rel="stylesheet">
    <link href="/css/logo/logo.css" rel="stylesheet">
    <link href="/css/nav-bar/nav-bar.css" rel="stylesheet">
    <link href="/css/log-out/log-out.css" rel="stylesheet">
    <link href="/css/selection-bar/selection-bar.css" rel="stylesheet">
    <link href="/css/wishes-zone/wishes-zone.css" rel="stylesheet">
    <link href="/css/friends/friends-list.css" rel="stylesheet">
    <link href="/css/credentials/credentials.css" rel="stylesheet">
    <script src="/js/fetch-page.js"></script>
    <script src="/js/register-page.js"></script>
    <script src="/js/jwt-expiration-calculation.js"></script>
    <script src="/js/login-redirections.js"></script>
    <title>Login</title>
</head>
<body>
    <div class="body__main">
        <main>
            <form onsubmit="signup(event)" class="login-form">
                <div class="form-items">
                    <label for="nickname" class="form-field">Nickname</label>
                    <input type="text" id="nickname" name="nickname" required><br>
                    <label for="name" class="form-field">Name</label>
                    <input type="text" id="name" name="name" required><br>
                    <label for="surname" class="form-field">Surname</label>
                    <input type="text" id="surname" name="surname" required><br>
                    <label for="password" class="form-field">Password</label>
                    <input type="password" id="password" name="password" required><br>
                    <label for="photoLink" class="form-field">Photo Link</label>
                    <input type="text" id="photoLink" name="photoLink">
                    <input type="submit" value="Sign up">
                </div>
            </form>
        </main>
        {{> footerAd}}
    </div>
</body>
</html>