<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="wishlist, present, party, wish">
    <meta name="description" content="Login page">
    {{> linkCommonCss}}
    <link href="/css/forms/login-form.css" rel="stylesheet">
    <script src="/js/register-page.js"></script>
    <script src="/js/jwt-expiration-calculation.js"></script>
    <script src="/js/upload-buttons-decoration.js"></script>
    {{> linkCommonJs}}
    {{> websocketStatic}}
    <title>Login</title>
</head>
<body>
    <main class="body__main">
        <div class="form-wrap">
            <form onsubmit="signup(event)">
                <div class="form-items">
                    <input class="form-input lowercased-text-input" type="text" id="nickname" name="nickname" placeholder="Nickname" required>
                    <input class="form-input capitalized-text-input" type="text" id="name" name="name" placeholder="Name" required>
                    <input class="form-input capitalized-text-input" type="text" id="surname" name="surname" placeholder="Surname" required>
                    <input class="form-input" type="password" id="password" name="password" placeholder="Password" required>
                    <input type="file" class="image-input" id="photoLink" name="photoLink" style="display: none;">
                    <button type="button" class="upload-photo-button">Upload profile photo</button>
                    <input class="sign-in-button" type="submit" value="Sign up">
                </div>
                <p id="dont-have-an-account">Already have an account?<br>
                    <a href="/auth/login">Login here</a>
                </p>
            </form>
        </div>
    </main>
    {{> footerAd}}
</body>
</html>