<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="wishlist, present, party, wish">
    <meta name="description" content="Login page">
    <link href="/css/stylesheet.css" rel="stylesheet">
    <link href="/css/logo/logo.css" rel="stylesheet">
    <link href="/css/nav-bar/nav-bar.css" rel="stylesheet">
    <link href="/css/log-out/log-out.css" rel="stylesheet">
    <link href="/css/selection-bar/selection-bar.css" rel="stylesheet">
    <link href="/css/wishes-zone/wishes-zone.css" rel="stylesheet">
    <link href="/css/friends/friends-list.css" rel="stylesheet">
    <link href="/css/credentials/credentials.css" rel="stylesheet">
    <link href="/css/forms/login-form.css" rel="stylesheet">
    <script src="/js/fetch-page.js"></script>
    <script src="/js/register-page.js"></script>
    <script src="/js/jwt-expiration-calculation.js"></script>
    <script src="/js/login-redirections.js"></script>
    <title>Login</title>
</head>
<body>
    <main class="body__main">
        <div class="login-form-wrap">
            <form onsubmit="signup(event)" class="login-form">
                <div class="form-items">
                    <input class="form-input" type="text" id="nickname" name="nickname" placeholder=" Nickname" required>
                    <input class="form-input" type="text" id="name" name="name" placeholder=" Name" required>
                    <input class="form-input" type="text" id="surname" name="surname" placeholder=" Surname" required>
                    <input class="form-input" type="password" id="password" name="password" placeholder=" Password" required>
                    <input type="file" id="photoInput" style="display: none;">
                    <button id="uploadButton" class="upload-photo-button">Upload profile photo</button>
                    <input class="sign-in-button" type="submit" value="Sign up">
                </div>
                <p id="dont-have-an-account">Already have an account?<br>
                    <a href="/auth/login">Login here</a>
                </p>
            </form>
        </div>
    </main>
    {{> footerAd}}
</body>
</html>