<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="wishlist, present, party, wish">
    <meta name="description" content="Your wishlist">
    <link href="/css/stylesheet.css" rel="stylesheet">
    <link href="/css/logo/logo.css" rel="stylesheet">
    <link href="/css/nav-bar/nav-bar.css" rel="stylesheet">
    <link href="/css/log-out/log-out.css" rel="stylesheet">
    <link href="/css/selection-bar/selection-bar.css" rel="stylesheet">
    <link href="/css/wishes-zone/wishes-zone.css" rel="stylesheet">
    <link href="/css/forms/forms.css" rel="stylesheet">
    <link href="/css/credentials/credentials.css" rel="stylesheet">
    <script src="/js/highlight-current-menu-item.js"></script>
    <script src="/js/upload-wish-item.js"></script>
    <script src="/js/find-user-navbar.js"></script>
    <script src="/js/fetch-page.js"></script>
    <script src="/js/login-redirections.js"></script>
    {{> websocketStatic}}
    <title>Create item</title>
</head>
<body>
    <div class="body__main">
        {{> navbarLoggedSure}}
        <main class="shifted">
            <h1>Add new item</h1>
            <form id="uploaditemform" onsubmit="uploadItem(event)">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required><br>

                <label for="description">Description:</label>
                <textarea id="description" name="description" required></textarea><br>

                <label for="importance">Importance (1-5):</label>
                <input type="number" id="importance" name="importance" min="1" max="5" required><br>

                <label for="imageLink">Image:</label>
                <input type="file" id="imageLink" name="imageLink"><br>

                <div id="linksContainer">
                    <label for="link1">Online shop link:</label>
                    <input type="url" id="link1" name="itemshopLinks">
                </div>

                <button type="button" id="addLink" onclick="addLinkField()">Add link</button><br>
                <button type="button" id="removeLink" onclick="removeLinkField()">Remove link</button><br>

                <label for="wishlist">Choose wishlist:</label>
                <select id="wishlist" name="wishlist" required>
                    <option id="public-option" value="PUBLIC">Public</option>
                    <option id="private-option" value="PRIVATE">Private</option>
                    <option id="friends-option" value="FRIENDS">Friendly</option>
                </select><br>

                <input type="submit" value="Upload">
            </form>
        </main>
        {{> footerAd}}
    </div>
</body>
</html>