<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> linkCommonCss}}
    <link href="/css/uploading/stars-rating.css" rel="stylesheet">
    <link href="/css/uploading/upload-wishitem.css" rel="stylesheet">
    <script src="/js/upload-wish-item.js"></script>
    <script src="/js/upload-buttons-decoration.js"></script>
    {{> linkCommonJs}}
    {{> websocketStatic}}
    <title>Create item</title>
</head>
<body>
    {{> yandexMetrikaNoscript}}
    <div class="body__main" data-id="{{#if wishitem}}{{wishitem.id}}{{/if}}">
        {{> navbarLoggedSure}}
        <main>
            <h2 class="page-overall-info">Here you can add new wishitem</h2>
            <div class="wrapper-for-loader-height">
                <div class="loader-zone">
                    <span class="upload-loader"></span>
                </div>
                <div class="form-wrap">
                    <form id="upload-item-form" class="form-items" onsubmit="uploadItem(event)">
                        <textarea class="form-input" id="title" name="title" placeholder="Title (60 characters max)" maxlength="60" required rows="2">{{#if wishitem}}{{wishitem.title}}{{/if}}</textarea>
                        <textarea class="form-input" id="description" name="description" placeholder="Description (300 characters max)" maxlength="300">{{#if wishitem}}{{wishitem.description}}{{/if}}</textarea>
                        <p id="item-importance__helper" class="helper">How important is this item to you?</p>
                        <div class="importance">
                            <input type="radio" id="star5" name="importance" value="5" />
                            <label for="star5" title="text"></label>
                            <input type="radio" id="star4" name="importance" value="4" />
                            <label for="star4" title="text"></label>
                            <input type="radio" id="star3" name="importance" value="3" />
                            <label for="star3" title="text"></label>
                            <input type="radio" id="star2" name="importance" value="2" />
                            <label for="star2" title="text"></label>
                            <input type="radio" id="star1" name="importance" value="1" />
                            <label for="star1" title="text"></label>
                        </div>
                        <p id="attach-image__helper" class="helper">You may attach a wishitem photo<br>(JPG / PNG only)</p>
                        <input type="file" class="image-input" id="imageLink" name="imageLink" data-id="{{#if wishitem}}{{wishitem.id}}{{/if}}" accept=".jpg,.jpeg,.png" style="display: none;">
                        <button type="button" class="upload-photo-button {{#if wishitem.imageLinkAsKey}}image-attached{{/if}}" id="new-wishitem__image">Attach wishitem image</button>
                        <p id="item-shop-links__helper" class="helper">You may specify up to 3 links to marketplaces to simplify the process of finding this item for your friends</p>

                        <button class="upload-photo-button" type="button" id="addLink" onclick="addLinkField()">Add link</button>
                        <div id="linksContainer">
                        </div>

                        <label id="choose-wishlist__helper" class="helper" for="wishlist">Now choose the type of wishlist,<br>that will hold the wish item</label>
                        <select id="wishlist" name="holderWishlistPrivacy" required>
                            <option id="public-option" value="PUBLIC">Public</option>
                            <option id="private-option" value="PRIVATE">Private</option>
                            <option id="friends-option" value="FRIENDS">For friends</option>
                        </select>

                        <input class="submit-form-button" type="submit" value="Upload">
                    </form>
                </div>
            </div>
        </main>
    </div>
    {{> footerAd}}
</body>
</html>