<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="wishlist, present, party, wish">
    <meta name="description" content="Your wishlist">
    <link href="/css/stylesheet.css" rel="stylesheet">
    <link href="/css/logo/logo.css" rel="stylesheet">
    <link href="/css/nav-bar/nav-bar.css" rel="stylesheet">
    <link href="/css/log-out/log-out.css" rel="stylesheet">
    <link href="/css/selection-bar/selection-bar.css" rel="stylesheet">
    <link href="/css/wishes-zone/wishes-zone.css" rel="stylesheet">
    <link href="/css/forms/forms.css" rel="stylesheet">
    <link href="/css/credentials/credentials.css" rel="stylesheet">
    <script src="/js/highlight-current-menu-item.js"></script>
    <script src="/js/upload-wish-item.js"></script>
    <script src="/js/fetch-page.js"></script>
    <script src="/js/login-redirections.js"></script>
    <script src="/js/find-user-navbar.js"></script>
    <script src="/js/friends-page.js"></script>
    <title>My wishlists</title>
</head>
<body>
    <div class="body__main">
        {{> navbarLoggedSure}}
        <main class="shifted">
            {{#each users}}
            <div class="user-item">
                <button onclick="redirectToProfile('{{this.nickname}}')">
                    <h2 class="user-item__name">{{this.nickname}}</h2>
                </button>
            </div>
            {{/each}}
        </main>
        {{> footerAd}}
    </div>
</body>
</html>