.friends-zone {
    display: flex;
    flex-direction: column;
}

.avatar:hover {
    transform: scale(0.96);
}

.user-item {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid white;
    color: white;
    margin-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    position: relative;
}

.user-item:last-child {
    border-bottom: none;
}

.user-nickname {
    font-family: 'BoldItalic';
}

.user-names-wrapper {
    margin: auto 0 auto 30px;
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.user-names-wrapper:hover {
    text-shadow: -2px 0 var(--basic-orange), 0 2px var(--basic-orange), 2px 0 var(--basic-orange), 0 -2px var(--basic-orange);
    cursor: pointer;
}

@media (max-width: 950px) {
    .user-names-wrapper {
        gap: 10px;
    }
    .user-nickname {
        font-size: 16px;
    }
    .user-item {
        margin-top: 12px;
        padding-bottom: 12px;
    }
}

@media (max-width: 700px) {
    .user-nickname {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .user-names-wrapper {
        margin: auto 0 auto 10px;
        gap: 7px;
    }
    .user-nickname {
        font-size: 9px;
    }
}