:root {
    --basic-orange: #ed8f2c;
    --light-orange: #f2a859;
}

html {
    font-family: "Regular", "Bold", "BoldItalic", sans-serif;
}

select {
    font-family: "Regular", "Bold";
}

header{
    margin: 0 10vw 30px;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100vh;
    background-image: url(/objects/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

footer {
    border: 3px solid #fff;
    border-bottom: none;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    margin: auto 9vw 0;
    height: 60px;
    width: 82vw;
    box-sizing: border-box;
    padding: 10px 40px 8px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: white;
    background: rgba(150, 155, 159, 0.35);
            backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    font-family: "Regular";
    font-size: 13px;

}

footer p {
    display: flex;
    align-items: center;
}

main {
    margin-bottom: 11vh;
}

.body__main {
    margin-top: 3vh;
    padding-top: 1.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 78vh;
}

.wrapper-for-loader-height {
    display: flex;
    align-items: stretch;
    position: relative;
}

.page-overall-info {
    font-size: 35px;
    text-shadow: -2px 0 var(--basic-orange), 0 2px var(--basic-orange), 2px 0 var(--basic-orange), 0 -2px var(--basic-orange);
    color: white;
    margin: 0 auto 30px;
    text-align: center;
}

.form-wrap {
    width: calc(28vw - 80px);
    padding: 30px 40px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, var(--basic-orange), #ffdbb6 75%);
}

.form-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-input {
    background-color: #ffffff;
    border: none;
    width: 95%;
    font-size: 14px;
    margin-bottom: 25px;
    border-radius: 8px;
    font-family: "Regular", "Bold";
    padding-inline: 9px;
    padding-block: 10px;
    letter-spacing: 0.01em;
}

.upload-photo-button {
    background-color: #f4f4f4;
    font-family: 'Regular';
    border: none;
    font-size: 17px;
    border-radius: 8px;
    height: 32px;
    cursor: pointer;
}

.upload-photo-button:hover {
    transform: scale(0.98);
}

.submit-form-button {
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    margin-top: 35px;
    cursor: pointer;
    font-family: 'Regular';
    font-size: 20px;
}

.submit-form-button:hover {
    transform: scale(0.95);
}

.capitalized-text-input {
    text-transform: capitalize;
}

.lowercased-text-input {
    text-transform: lowercase;
}

.default-zone-wrapper {
    width: fit-content;
    margin: 0 auto;
    border: 6px solid white;
    border-radius: 24px;
    background-color: rgba(242, 168, 90, 0.51);
    padding: 20px 30px;
}

.footer__grid {
    display: grid;
    grid-template-areas: "app-info location fullstack design";
    column-gap: 3.5vw;
}

.footer__credentials-icon-link {
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-decoration: none;
}

.footer__credentials-icon {
    width: inherit;
    height: inherit;
}

.footer__credentials-flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.toggle-page-state-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    width: fit-content;
    margin: 30px auto 20px;
}

.toggle-friends-button {
    appearance: none;
    border: 3px solid white;
    border-radius: 20px;
    color: white;
    background-color: transparent;
    padding: 7px 10px;
    font-size: 18px;
    font-family: 'Regular';
    cursor: pointer;
}

.toggle-friends-button:hover {
    transform: scale(0.95);
}

.active-friend-toggle {
    background-color: var(--light-orange);
}

.user-accept-friend-request {
    position: absolute;
    top: -3px;
    right: 0;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-family: "Regular";
    font-size: 13px;
    border-radius: 14px;
    transition: transform 0.2s;
    transform-origin: right;
    z-index: 10;
    cursor: pointer;
}

.user-accept-friend-request:hover {
    transform: scale(0.95);
}

.avatar {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 4px solid white;
}

#footer__copyright-icon {
    width: 17px;
}

.loader-zone {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(243, 229, 229, 0.841);
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.upload-loader {
    width: 48px;
    height: 48px;
    margin: auto;
    position: relative;
}
.upload-loader:before {
    content: '';
    width: 48px;
    height: 5px;
    background: #000;
    opacity: 0.25;
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 50%;
    animation: shadow 0.5s linear infinite;
}
.upload-loader:after {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--light-orange);
    animation: bxSpin 0.5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
}
@keyframes bxSpin {
    17% {
        border-bottom-right-radius: 3px;
    }
    25% {
        transform: translateY(9px) rotate(22.5deg);
    }
    50% {
        transform: translateY(18px) scale(1, .9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }
    75% {
        transform: translateY(9px) rotate(67.5deg);
    }
    100% {
        transform: translateY(0) rotate(90deg);
    }
}

@keyframes shadow {
    0%, 100% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1);
    }
}

@font-face {
    font-family: "Regular";
    src: url("/fonts/SpaceMono-Regular.ttf");
}
@font-face {
    font-family: "Bold";
    src: url("/fonts/SpaceMono-Bold.ttf");
}
@font-face {
    font-family: "BoldItalic";
    src: url("/fonts/SpaceMono-BoldItalic.ttf");
}
@font-face {
    font-family: "Italic";
    src: url("/fonts/SpaceMono-Italic.ttf");
}

@font-face {
    font-family: "Myriad Regular";
    src: url("/fonts/MYRIADPRO-REGULAR.OTF");
}

@media (max-width: 1300px) {
    footer {
        font-size: 9px;
    }
    .footer__grid {
        column-gap: 2.5vw;
    }
    .upload-photo-button {
        font-size: 14px;
        height: 30px;
    }
    .form-wrap {
        width: calc(40vw - 80px);
    }
}

@media (max-width: 950px) {
    .footer__grid {
        display: grid;
        grid-template-areas: "app-info location"
                             "design fullstack";
        column-gap: 10vw;
        row-gap: 0;
    }

    .footer__credentials-icon-link {
        width: 15px;
        height: 15px;
        margin-top: 1px;
    }

    #footer__copyright-icon {
        width: 12px;
    }
    .toggle-friends-button {
        font-size: 14px;
    }
    .default-zone-wrapper {
        padding: 15px 20px;
    }
    .avatar {
        width: 100px;
        height: 100px;
    }
    .page-overall-info {
        font-size: 25px;
    }
    .submit-form-button {
        font-size: 16px;
    }
    .form-wrap {
        padding: 20px 30px;
        width: calc(50vw - 60px);
    }
}

@media (max-width: 700px) {
    footer {
        margin: auto 4vw 0;
        width: 92vw;
        font-size: 8px;
    }
    header{
        margin: 0 5vw 30px;
    }
    .page-overall-info {
        font-size: 18px;
    }
    .avatar {
        width: 80px;
        height: 80px;
    }
    .form-wrap {
        width: calc(70vw - 60px);
    }
    .upload-photo-button {
        font-size: 12px;
        height: 25px;
    }
    .toggle-page-state-buttons {
        gap: 15px;
    }
    .toggle-friends-button {
        padding: 5px 8px;
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    footer {
        margin: auto 2vw 0;
        width: 96vw;
        font-size: 6px;
        padding: 10px 10px 8px;
    }
    .footer__grid {
        column-gap: 5vw;
    }
    .page-overall-info {
        font-size: 15px;
    }
    .avatar {
        width: 14vw;
        height: 14vw;
        border: 2px solid #fff;
    }
    .default-zone-wrapper {
        border: 4px solid white;
        padding: 10px 10px;
    }
    .user-accept-friend-request {
        font-size: 8px;
    }
    .form-input {
        padding-inline: 5px;
        padding-block: 3px;
    }
    .upload-photo-button {
        font-size: 8px;
    }
}

@media (max-width: 350px) {
    .page-overall-info {
        font-size: 13px;
    }
}