.friends-list__title {
    font-size: 40px;
    margin-bottom: 20px;
    color: white;
    border-bottom: 3px solid white;
}

.friends-zone {
    margin-left: 100px;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.friend-button {
    border-radius: 20px;
    padding: 20px 40px;
    width: 200px;
}

.friend-card{
    margin: 20px 0 20px 20px;
}

.friend-item {
    display: flex;
    flex-direction: row;
    height: 200px;
    border-bottom: 1px solid white;
    
}

.friend-photo {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 25px 0;
}

.friend-name {
    height: 30px;
    font-size: 20px;
    margin: 110px 0 110px 50px;
}

.preloader {
    margin-top: 50px;
    margin-left: 50px;
    height: 300px;
    position: fixed;
    z-index: 1000;
}