.sign-in-button {
    background-color: #ffffff;
    border: none;
    font-size: 20px;
    border-radius: 8px;
    margin-top: 35px;
    cursor: pointer;
}

#dont-have-an-account {
    margin-top: 45px;
    margin-block-end: 0;
}

@font-face {
    font-family: "Regular";
    src: url("/fonts/SpaceMono-Regular.ttf");
}
@font-face {
    font-family: "Bold";
    src: url("/fonts/SpaceMono-Bold.ttf");
}