main {
    position: relative;
}

.user-profile {
    display: grid;
    grid-template-areas: 'profile-photo names'
                         'profile-photo nickname'
                         'friend-action-button accessible-wishlists';
    grid-template-columns: 310px 2fr;
    width: 73vw;
    column-gap: 80px;
}

.user-profile__photo {
    height: 300px;
    width: 300px;
    grid-area: profile-photo;
    border-radius: 20px;
    border: 5px solid white;
}

.user-profile__name {
    font-size: 30px;
    font-family: 'Bold';
    color: white;
}

.user-profile__name-wrapper {
    border-bottom: 4px solid white;
    grid-area: names;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.user-profile__nickname {
    grid-area: nickname;
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
    letter-spacing: 2px;
}

.wishlist-selection {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
    gap: 30px;
}

.wishlist-selection__button {
    appearance: none;
    border: none;
    border-radius: 20px;
    background-color: white;
    color: var(--basic-orange);
    box-shadow: 0px 0px 10px white;
    padding: 7px 13px;
    font-size: 18px;
    font-family: 'Bold';
    letter-spacing: 1px;
    cursor: pointer;
}

.wishlist-selection__button:hover {
    transform: scale(0.95);
}

.loader-zone {
    width: 1194px;
    height: 466px;
    top: 30px;
}

#user-profile__friend-request-btn {
    appearance: none;
    grid-area: friend-action-button;
    margin: 20px auto 0 auto;
    max-width: 300px;
    border: 3px solid white;
    border-radius: 20px;
    background-color: var(--basic-orange);
    color: white;
    padding: 7px 10px;
    font-size: 18px;
    font-family: 'Regular';
    cursor: pointer;
}

#user-profile__friend-request-btn:hover {
    transform: scale(0.95);
}

#user-profile-custom-wrapper {
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}

@media (max-width: 1300px) {
    .user-profile {
        grid-template-columns: 250px 2fr;
        column-gap: 50px;
    }
    .user-profile__photo {
        height: 240px;
        width: 240px;
    }
    .user-profile__name {
        font-size: 22px;
    }
    .user-profile__nickname {
        font-size: 27px;
    }
    .wishlist-selection {
        gap: 20px;
    }
    #user-profile__friend-request-btn,
    .wishlist-selection__button {
        font-size: 14px;
    }
}

@media (max-width: 950px) {
    .user-profile {
        grid-template-columns: 180px 2fr;
        column-gap: 35px;
    }
    .user-profile__photo {
        height: 170px;
        width: 170px;
    }
    .user-profile__name {
        font-size: 15px;
    }
    .user-profile__nickname {
        font-size: 20px;
    }
    .wishlist-selection {
        gap: 12px;
    }
    #user-profile-custom-wrapper {
        margin-top: 20px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

@media (max-width: 700px) {
    .user-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
        width: 80vw;
    }
    .user-profile__name-wrapper {
        width: 65vw;
    }
    
    .user-profile__nickname {
        width: 65vw;
        font-size: 18px;
    }
    .user-profile__photo {
        margin: 0 auto;
        width: 65vw;
        height: 65vw;
    }
    .user-profile__name {
        font-size: 17px;
    }
    .wishlist-selection {
        gap: 20px;
    }
    .wishlist-selection__button {
        font-size: 13px;
    }
    #user-profile__friend-request-btn {
        font-size: 16px;
    }
}