main {
    position: relative;
}

.suggestion-zone-with-buttons {
    box-sizing: border-box;
    position: relative;
    width: 88vw;
    margin: 0 auto;
    display: flex;
    gap: 15px;
    align-items: center;
}

.suggestion-zone {
    height: 505px;
    width: 95%;
    padding: 3% 4%;
    position: relative;

    border: 4px solid #b3aeae;
    border-radius: 24px;
    background-color: rgba(171, 175, 178, 0.6);
    backdrop-filter: blur(8px);

    display: grid;
    grid-template-areas: "header image"
                         "description image"
                         "importance image"
                         "links image";
    grid-template-columns: 50% 45%;
    column-gap: 5%;
}

.suggestion-zone::after {
    content: '';
    background-image: url(/objects/back-glass.png);
    background-size: cover;
    border-radius: 24px;
    position: absolute;
    opacity: 0.7;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}

.suggestion-zone__title {
    line-height: 1em;
    height: 5em;
    margin: 0 0 15px;
    text-transform: uppercase;
    font-size: 28px;
    font-family: "Bold";

    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;

    grid-area: header;
}

.suggestion-zone__photo {
    box-sizing: border-box;
    width: 33vw;
    height: 33vw;
    object-fit: cover;

    border: solid #fff 4px;
    border-radius: 24px;

    grid-area: image;
    margin-left: auto;
}

.suggestion-zone__importance {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: auto;
}

.suggestion-zone__marketplace-single-link {
    border-radius: 8px;
    background-color: #fff;
    text-decoration: none;
    color: #696b6c;
    padding: 5px;
}

.suggestion-zone__importance-stars {
    display: flex;
    gap: 15px;
    width: auto;
    height: 100%;
}

.suggestion-zone__description {
    line-height: 1.2em;
    height: 7.2em;
    margin: 0 0 20px;

    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
            line-clamp: 6;

    font-family: 'Regular', sans-serif;
    font-size: 15px;
    grid-area: description;
}

.suggestion-zone__button {
    margin: 0;
    padding: 0;

    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
}

.suggestion-zone__button:hover {
    transform: scale(0.92);
}

.suggestion-zone__button_right {
    width: 15px;
    rotate: 180deg;
}

.suggestion-zone__button_left {
    width: 15px;
}

.helper-text {
    font-size: 18px;
    margin: 0 20px 0 0;
    width: 130px;
}

.links-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 3px;
    gap: 15px;
    width: 310px;
}

.loader-zone {
    width: 1386px;
    height: 650px;
    top: -10px;
    right: -17px;
}

#suggestion-zone__importance {
    grid-area: importance;
    margin-bottom: 30px;
}

#suggestion-zone__marketplace-links {
    grid-area: links;
}

.suggestion-zone__add-item-wrapper {
    position: absolute;
    border-radius: 50%;
    border: solid #b3aeae;
    width: 60px;
    height: 60px;
    padding: 10px;
    background-color: rgba(171, 175, 178, 0.6);
}

.suggestion-zone__add-item-wrapper::after {
    content: '';
    background-image: url(/objects/back-glass.png);
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    opacity: 0.7;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}

.suggestion-zone__add-this-wishitem-redirect {
    border-radius: 50%;
    cursor: pointer;
}

.suggestion-zone__add-this-item-icon {
    width: 100%;
    height: 100%;
}

#wishitem-in-wisher__add-item-wrapper {
    bottom: -41px;
    right: -11px;
}

#wishitem-in-wishlist__add-item-wrapper {
    bottom: -41px;
    right: -41px;
}

@media (max-width: 1300px) {
    .suggestion-zone {
        grid-template-areas: "header image"
                             "description image"
                             "importance image"
                             "links links";
    }
    .suggestion-zone__title {
        font-size: 25px;
    }
    .suggestion-zone__description {
        font-size: 12px;
    }
    .suggestion-zone__importance {
        height: 40px;
    }
}

@media (max-width: 950px) {
    .suggestion-zone {
        grid-template-areas: "header image"
                             "description image"
                             "importance importance"
                             "links links";
        grid-template-columns: 42% 53%;
    }
    .suggestion-zone__photo {
        width: 37vw;
        height: 37vw;
    }
    .suggestion-zone__title {
        font-size: 15px;
    }
    .suggestion-zone__description {
        line-height: 1.2em;
        height: 13.2em;
        margin: 0 0 20px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 11;
                line-clamp: 11;
    }
    .helper-text {
        width: 90px;
        margin-right: 10px;
        font-size: 13px;
    }
    .suggestion-zone__marketplace-single-link {
        font-size: 13px;
    }
    .suggestion-zone__importance {
        height: 25px;
    }
}

@media (max-width: 700px) {
    .suggestion-zone__title {
        font-size: 13px;
    }
    .suggestion-zone__description {
        font-size: 9px;
    }
    .links-container {
        gap: 10px;
        width: 240px;
    }
    .suggestion-zone__add-item-wrapper {
        width: 40px;
        height: 40px;
        padding: 6px;
    }
    #wishitem-in-wisher__add-item-wrapper {
        bottom: -26px;
        right: 3px;
    }
}