@media (max-width: 1200px) {
    .footer__logo {
        display: none;
    }
}

@media (max-width: 900px) {
    .background__zone {
        height: 90px;
    }
}

@media (max-width: 600px) {
    .credentials {
        flex-direction: column;
        margin-top: 13vh;
        margin-left: 20%;
        width: 75%;
    }

    .credentials__authors {
        width: 80%;
    }

    .credentials__contacts {
        display: none;
    }

    .background__zone {
        height: 90px;
    }
}

@media (max-height: 600px) {
    .credentials {
        display: none;
    }
}